<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>数据列表页面</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>

<div class="x-body" id="app">
	<div class="layui-row">
	</div>

	<blockquote class="layui-elem-quote layui-elem-quote-sm">
		已报销信息列表
	</blockquote>

	<div class="layui-form table-responsive">
		<table class="layui-table" id="tableId" lay-filter="tableId">
			<thead>
			<tr>
				<th>报销编号</th>
				<th>身份证号</th>
				<th>姓名</th>
				<th>疾病名称</th>
				<th>年度</th>
				<th>该次报销金额</th>
				<th>经办机构</th>
				<th>状态</th>
				<th>操作</th>
			</thead>
			<tbody>
			<tr v-for="item in items">
				<td>{{ item.id }}</td>
				<td>{{ item.cardID}}</td>
				<td>{{ item.payerName}}</td>
				<td>{{ item.illname }}</td>
				<td>{{ item.runyear }}</td>
				<td>{{ item.amount }}</td>
				<td>{{ item.organizationName }}</td>
				<td>
					<div v-if="item.state==='已通过'">
						<button class="layui-btn layui-btn-sm layui-btn-normal" >{{ item.state }}</button>
					</div>
					<div v-if="item.state==='未通过'">
						<button class="layui-btn layui-btn-sm layui-btn-danger" >{{ item.state }}</button>
					</div>
				</td>
				<td class="td-manage">
					<button class="layui-btn layui-btn-default layui-btn-xs"
					        @click="detail(item)">
						<i class="layui-icon">&#xe60f;</i>
						详细信息</button>
					<button class="layui-btn layui-btn-default layui-btn-xs"
							@click="updateSta(item,'已通过')">
						<i class="layui-icon">&#x1005;</i>
						通过</button>
					<button class="layui-btn layui-btn-danger layui-btn-xs"
							v-on:click="updateSta(item,'未通过')">
						<i class="layui-icon">&#x1007;</i>
						不通过
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div v-if="items.length==0" class="text-center layui-bg-gray no-records">对不起，暂无记录.</div>

	<!-- 分页组件 -->
	<div id="pagination" class="layui-box"></div>

</div>



<script type="text/javascript" src="/js/libs/jquery.min.js">
</script>
<script type="text/javascript" src="/js/libs/layui/layui.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue.js">
</script>
<script type="text/javascript" src="/js/main.js">
</script>
<script type="text/javascript" src="/js/utils.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>
<script>
	//全局数据
	var G = {
		page: 0,
		pagesize: 10
	};
	// 初始化 Vue 组件
	var APP = new Vue({
		el: '#app',
		// 数据
		data: {
			items: [
			],
			count:"",
            searchName:"",
            searchDepId:"",
            personDto: {
                cardID: "",
            },
		},
        created: function () {
            this.queryExpenseByPage(G.page,G.pagesize);
            this.$nextTick(function () {
                pageRend();
            });
        },
		// 逻辑处理方法
		methods: {

            queryExpenseByPage: function ( nowPage,pageSize ) {
                if(nowPage>0){
                    nowPage=nowPage-1;
                }
                //发送 get 请求
                this.$http.get('/medical/expense/page', {
                    params: {
                        state:"未审核",
                        nowPage: nowPage,
                        pageSize: pageSize
                    }
                }, {emulateJSON: true}).then(function (result) {
                    if (result.data.status == 200) {
                        this.items = result.data.data.datas;
                        this.count = result.data.data.dataTotalCount;
                        G.page=result.data.data.nowPage;
                        G.pagesize=result.data.data.pageSize;
                    } else {
                        messageError(result.data.message);
                    }
                }, function (result) {
                    messageError("请求失败!");
                });

            },
            updateSta: function (item,staVal) {
                //发送 post 请求
                this.$http.put('/medical/expense',
                    {id:item.id,state:staVal},{emulateJSON:true}).then(function(result){
                    messageLoading();
                    if(result.data.status==200){
                        messageOk(result.data.message);
                        reRender();
                    }else {
                        messageError(result.data.message);
                    }
                },function(res){
                    messageError("请求失败!请重试~");
                });
            },
            detail: function (item) {
                x_open_full('参合登记详细信息','expenseDetail.html?#'+item.id);
            },


		},
    }); //end Vue
    function pageRend() {

        layui.use(['laypage','form'], function () {
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'pagination', //分页container ID，不用加 # 号
                limit: G.pagesize, //页面显示记录条数
                count: APP.$data.count, //数据总数，从服务端得到
                groups: 5,
                layout: ['prev', 'page', 'next','limit','count'],
                prev: '<i class="layui-icon layui-icon-left"></i>',
                next: '<i class="layui-icon layui-icon-right"></i>',
                jump: function (obj, first) {
                    //首次不执行
                    if (first) {
                        //do something
                        return;
                    }
                    render(obj.curr, obj.limit);
                }

            });
        });
	}

    function XuanRan() {
        layui.use(['element'], function () {
            // 重新渲染
            var element = layui.element;
            element.render();
            element.render('x-body','xBody');
            element.init();
        });
    }

    /**
     * 渲染数据列表
     * @param page
     * @param pagesize
     */
    function render(page, pagesize) {
        if (page==0&&pagesize==0){
            this.APP.queryExpenseByPage(0, 10);
		}else{
            this.APP.queryExpenseByPage(page, pagesize);
		}
    }

    function reRender() {
        this.APP.queryExpenseByPage(G.page, G.pagesize);
        pageRend();
    }
</script>


</body>
</html>
