<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>数据列表页面</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>

<div class="x-body" id="app">
	<div class="layui-row">
	</div>

	<blockquote class="layui-elem-quote layui-elem-quote-sm">
		家庭成员列表
	</blockquote>

	<div class="layui-form table-responsive">
		<table class="layui-table" id="tableId" lay-filter="tableId">
			<thead>
			<tr>
				<th>成员编号</th>
				<th>姓名</th>
				<th>身份证号</th>
				<th>农合证卡号</th>
				<th>与户主关系</th>
				<th>年龄</th>
				<th>性别</th>
				<th>出生日期</th>
				<th>操作</th>
			</thead>
			<tbody>
			<tr v-for="item in items">
				<td>{{ item.perscode }}</td>
				<td>{{ item.persname}}</td>
				<td>{{ item.cardID}}</td>
				<td>{{ item.ruralCard }}</td>
				<td>{{ item.relation }}</td>
				<td>{{ item.age }}</td>
				<td>{{ item.sex }}</td>
				<td>{{ item.birthday }}</td>
				<td class="td-manage">
					<button class="layui-btn layui-btn-default layui-btn-xs"
					        @click="add(item)">
						<i class="layui-icon">&#xe642;</i>
						慢性病报销</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div v-if="items.length==0" class="text-center layui-bg-gray no-records">对不起，暂无记录.</div>

	<!-- 分页组件 -->
	<div id="pagination" class="layui-box"></div>

</div>



<script type="text/javascript" src="/js/libs/jquery.min.js">
</script>
<script type="text/javascript" src="/js/libs/layui/layui.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue.js">
</script>
<script type="text/javascript" src="/js/main.js">
</script>
<script type="text/javascript" src="/js/utils.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>
<script>
	//全局数据
	var G = {
		page: 0,
		pagesize: 10
	};
	// 初始化 Vue 组件
	var APP = new Vue({
		el: '#app',
		// 数据
		data: {
			items: [
			],
            personDto: {
                cardID: "",
            },
			count:"",
			fcode:""
		},
        created: function () {
            this.queryPersonByCardID(G.page,G.pagesize);
            this.$nextTick(function () {
                pageRend();
            });
        },
		// 逻辑处理方法
		methods: {

            queryPersonByCardID: function ( nowPage,pageSize ) {
                var cardID = location.hash.substring(1) // 去掉 #
				this.personDto.cardID=cardID;
                if(nowPage>0){
                    nowPage=nowPage-1;
                }
                //发送 get 请求
                this.$http.post('/medical/person/card', this.personDto, {emulateJSON: true}).then(function (result) {
                    if (result.data.status == 200) {
                        this.items = result.data.data;
                    } else {
                        messageError(result.data.message);
                    }
                }, function (result) {
                    messageError("请求失败!");
                });

            },
            add: function (item) {
				x_open_full('家庭成员慢性病报销','expenseAdd.html?#'+item.perscode);
			},
		},
    }); //end Vue
    function pageRend() {

        layui.use(['laypage','form'], function () {
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'pagination', //分页container ID，不用加 # 号
                limit: G.pagesize, //页面显示记录条数
                count: APP.$data.count, //数据总数，从服务端得到
                groups: 5,
                layout: ['prev', 'page', 'next','limit','count'],
                prev: '<i class="layui-icon layui-icon-left"></i>',
                next: '<i class="layui-icon layui-icon-right"></i>',
                jump: function (obj, first) {
                    //首次不执行
                    if (first) {
                        //do something
                        return;
                    }
                    render(obj.curr, obj.limit);
                }

            });
        });
	}

    function XuanRan() {
        layui.use(['element'], function () {
            // 重新渲染
            var element = layui.element;
            element.render();
            element.render('x-body','xBody');
            element.init();
        });
    }

    /**
     * 渲染数据列表
     * @param page
     * @param pagesize
     */
    function render(page, pagesize) {
        if (page==0&&pagesize==0){
            this.APP.queryPersonByCardID(0, 10);
		}else{
            this.APP.queryPersonByCardID(page, pagesize);
		}
    }

    function reRender() {
        this.APP.queryPersonByHolder(G.page, G.pagesize);
        pageRend();
    }
</script>


</body>
</html>
