<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加数据页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
<div class="x-body" id="app">
    <form  class="layui-form">

        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="text-color-red">*</span>
               所在乡镇/村
            </label>
            <div class="layui-input-inline" >
                <select name="regionId"   lay-filter="regionId"  lay-verify="required" >
                    <option placeholder="请选择"></option>
                    <option v-for="item,index in regions" :value="item.regionId" v-html="item.regionName" ></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="holderName" class="layui-form-label">
                <span class="text-color-red">*</span>
                户主姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="holderName" name="holderName" v-model="familyDto.holderName" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="text-color-red">*</span>
                户属性
            </label>
            <div class="layui-input-inline">
                <select name="housePro"   lay-filter="housePro"  lay-verify="required" >
                    <option placeholder="请选择"></option>
                    <option value="农业户口"  >农业户口</option>
                    <option value="非农业户口"   >非农业户口</option>
                </select>
            </div>
        </div>



        <div class="layui-form-item">
            <label for="address" class="layui-form-label">
                <span class="text-color-red">*</span>
                家庭住址
            </label>
            <div class="layui-input-inline">
                <input  style="width:300px;" type="text" id="address" name="address" v-model="familyDto.address" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">
                <!-- placeholder -->
            </label>
            <button  type="button" class="layui-btn"  v-on:click="addFamily">确认新增</button>
            <button type="button" class="layui-btn layui-btn-danger " v-on:click="close" >取消</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/js/libs/jquery.min.js "></script>
<script type="text/javascript" src="/js/libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/libs/vue/vue.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>

<script>
    // 初始化 Vue 组件
    var APP = new Vue({
        el: '#app',
        // 数据
        data: {
            familyDto:{
                regionId:"",
                holderName:"",
                housePro:"",
                address:"",
            },
            regions:[],
            contents:""
        },
        created: function () {
            this. getAllRegions();
            this.$nextTick(function () {
                XuanRan();
                initForm();
            });
        },
        methods: {
            initRegionId: function (val) {
               this.familyDto.regionId=val;
            },
            initHousePro: function (val) {
               this.familyDto.housePro=val;
            },
            getAllRegions: function () {
                //发送 get 请求
                this.$http.get('/medical/region/own',{emulateJSON:true}).then(function(result){
                    if(result.data.status==200){
                        this.regions=result.data.data;
                    }else {
                        messageError(result.data.message);
                    }
                },function(result){
                    messageError("服务器内部出错!");
                });

            },
            addFamily: function () {
                //发送 post 请求
                this.$http.post('/medical/family',
                    this.familyDto,{emulateJSON:true}).then(function(result){
                    messageLoading();
                    if(result.data.status==200){
                        messageOk(result.data.message);
                        //关闭弹出层
                        x_admin_close("render");
                    }else {
                        messageError(result.data.message);
                    }
                },function(res){
                    messageError("服务器内部出错!请重试~");
                });
            },


            close: function () {
                //关闭弹出层
                x_admin_close("app");
            }
        },

    });//end vue

    function initForm() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
            form.render('select');
            form.on('select(regionId)',function (data) {
                rend(data.value);
            });
            form.on('select(housePro)',function (data) {
                rendHousePro(data.value);
            });
        });
    }

    function rend(val) {
        this.APP.initRegionId(val);
    }

    function rendHousePro(val) {
        this.APP.initHousePro(val);
    }

    function XuanRan() {
        layui.use(['element','form'], function () {
            // 重新渲染
            var element = layui.element;
            var form = layui.form;
            form.render();
            element.render();
            element.init();

        });
    }
</script>

</body>

</html>
