<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>数据编辑页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
<div class="x-body" id="app">
    <form class="layui-form">
 <div v-if="personDto">
        <div class="layui-form-item">
            <label for="perscode" class="layui-form-label">
                <span class="text-color-red">*</span>
               成员编号
            </label>
            <div class="layui-input-inline">
                <input type="text"  readonly="readonly" id="perscode" name="perscode" v-model="personDto.perscode"  autocomplete="off" required="" lay-verify="required"  class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                该内容暂不允许编辑
            </div>
        </div>

     <div class="layui-form-item">
         <label  class="layui-form-label">
             <span class="text-color-red">*</span>
             与户主关系
         </label>
         <div class="layui-input-inline" >
             <select name="relation"   lay-filter="relation"  lay-verify="required" >
                 <option value="personDto.relation" style="display: none"  selected = "selected">{{personDto.relation}}</option>
                 <option value="户主" >户主</option>
                 <option value="配偶" >配偶</option>
                 <option value="子" >子</option>
                 <option value="女" >女</option>
                 <option value="孙子" >孙子</option>
                 <option value="孙女" >孙女</option>
             </select>
         </div>
     </div>

     <div class="layui-form-item">
         <label for="persname" class="layui-form-label">
             <span class="text-color-red">*</span>
             姓名
         </label>
         <div class="layui-input-inline">
             <input type="text" id="persname" name="persname" v-model="personDto.persname" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="cardID" class="layui-form-label">
             <span class="text-color-red">*</span>
             身份证号
         </label>
         <div class="layui-input-inline">
             <input  style="width:300px;" type="text" id="cardID" name="cardID" v-model="personDto.cardID" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="ruralCard" class="layui-form-label">
             <span class="text-color-red">*</span>
             农合证卡号
         </label>
         <div class="layui-input-inline">
             <input  style="width:300px;" type="text" id="ruralCard" name="ruralCard" v-model="personDto.ruralCard" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="age" class="layui-form-label">
             <span class="text-color-red">*</span>
             年龄
         </label>
         <div class="layui-input-inline">
             <input type="text" id="age" name="age" v-model="personDto.age" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>


     <div class="layui-form-item">
         <label  class="layui-form-label">
             <span class="text-color-red">*</span>
             性别
         </label>
         <div class="layui-input-inline">
             <select name="sex"   lay-filter="sex"  lay-verify="required" >
                 <option value="personDto.sex" style="display: none"  selected = "selected">{{personDto.sex}}</option>
                 <option value="男" >男</option>
                 <option value="女" >女</option>
             </select>
         </div>
     </div>

     <div class="layui-form-item">
         <label for="birthday" class="layui-form-label">
             <span class="text-color-red">*</span>
             当前出生日期
         </label>
         <div class="layui-input-inline">
             <input type="text" id="birthday" name="birthday" v-model="personDto.birthday" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="birthday" class="layui-form-label">
             <span class="text-color-red"> </span>
             出生日期修改为
         </label>
         <div class="layui-input-inline">
             <input type="date" id="birthTime" name="birthTime" v-model="personDto.birthTime" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
         <div class="layui-form-mid layui-word-aux">
             无需修改可不选
         </div>
     </div>

     <div class="layui-form-item">
         <label for="occupation" class="layui-form-label">
             <span class="text-color-red">*</span>
             职业
         </label>
         <div class="layui-input-inline">
             <input type="text" id="occupation" name="occupation" v-model="personDto.occupation" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="workUnit" class="layui-form-label">
             <span class="text-color-red">*</span>
             工作单位
         </label>
         <div class="layui-input-inline">
             <input  style="width:300px;" type="text" id="workUnit" name="workUnit" v-model="personDto.workUnit" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="liveAddress" class="layui-form-label">
             <span class="text-color-red">*</span>
             常住地址
         </label>
         <div class="layui-input-inline">
             <input  style="width:300px;" type="text" id="liveAddress" name="liveAddress" v-model="personDto.liveAddress" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>

     <div class="layui-form-item">
         <label for="telephone" class="layui-form-label">
             <span class="text-color-red">*</span>
             联系电话
         </label>
         <div class="layui-input-inline">
             <input  style="width:300px;" type="text" id="telephone" name="telephone" v-model="personDto.telephone" required="" lay-verify="required" autocomplete="off" class="layui-input">
         </div>
     </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <!-- placeholder -->
            </label>
            <button type="button" class="layui-btn" lay-filter="update" v-on:click="updatePerson">保存</button>
            <button type="button" class="layui-btn layui-btn-danger" v-on:click="close" >取消</button>
        </div>
 </div>
    </form>
</div>



<script type="text/javascript" src="/js/libs/jquery.min.js">
</script>
<script type="text/javascript" src="/js/libs/layui/layui.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue.js">
</script>
<script type="text/javascript" src="/js/main.js">
</script>
<script type="text/javascript" src="/js/utils.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>

<script>
    var G = {
    }
    var APP = new Vue({
		el: "#app",

		data: {
            personDto: {
                famicode:"",
                perscode:"",
                persname: "",
                cardID: "",
                ruralCard: "",
                relation: "",
                age: "",
                sex: "",
                birthday: "",
                birthTime: "",
                occupation: "",
                workUnit: "",
                liveAddress: "",
                telephone: "",
            },
            regions:[],
            contents:""
		},
        created: function () {
            this.getPersonById();
            this.$nextTick(function () {
                XuanRan();
                initForm();
            });
        },
        methods: {
            initRelation: function (val) {
                this.personDto.relation=val;
            },
            initSex: function (val) {
                this.personDto.sex=val;
            },
            getPersonById: function () {
                var Id = location.hash.substring(1) // 去掉 #
                //发送 get 请求
                this.$http.get('/medical/person',
                    {params:{perscode:Id}},
                    {emulateJSON:true}).then(function(result){
                    if(result.data.status==200){
                        this.personDto=result.data.data;
                    }else {
                        messageError(result.data.message);
                    }
                },function(result){
                    messageError("请求失败!请重试~");
                });

            },
            updatePerson: function () {
                //发送 post 请求
                this.$http.put('/medical/person',
                    this.personDto,{emulateJSON:true}).then(function(result){
                    messageLoading();
                    if(result.data.status==200){
                        messageOk(result.data.message);
                        //关闭弹出层
                        x_admin_close("render");
                    }else {
                        messageError(result.data.message);
                    }
                },function(res){
                    messageError("请求失败!请重试~");
                });


            },
            close: function () {
                //关闭弹出层
                x_admin_close("app");
            }

        }// methods end


    }); //end Vue

    function initForm() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
            form.render('select');
            form.on('select(relation)',function (data) {
                rendRelation(data.value);
            });
            form.on('select(sex)',function (data) {
                rendSex(data.value);
            });
        });
    }

    function rendRelation(val) {
        this.APP.initRelation(val);
    }

    function rendSex(val) {
        this.APP.initSex(val);
    }
    function XuanRan() {
        layui.use(['element','form'], function () {
            // 重新渲染
            var element = layui.element;
            var form = layui.form;
            form.render();
            element.render();
            element.init();

        });
    }

</script>

</body>

</html>
