<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>数据列表页面</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>

<div class="x-body" id="app"  lay-filter="xBody">
	<div class="layui-row">
	</div>

	<blockquote class="layui-elem-quote layui-elem-quote-sm">
		<button class="layui-btn layui-btn-sm" onclick="x_open_full('新增用户','/pages/Admin/user/userAdd.html')">
			<i class="layui-icon">&#xe654;</i>新增用户</button>
	</blockquote>

	<div class="layui-form table-responsive">
		<table class="layui-table" id="tableId" lay-filter="tableId">
			<thead>
			<tr>
				<th>所属机构</th>
				<th>用户账号</th>
				<th>用户姓名</th>
				<th>用户密码密文</th>
				<th>操作</th>
			</thead>
			<tbody>
			<tr v-for="item in items">
				<td>{{ item.organizationName }}</td>
				<td>{{ item.uid }}</td>
				<td>{{ item.uname }}</td>
				<td>{{ item.upwd }}</td>
				<td class="td-manage">
					<button class="layui-btn layui-btn-default layui-btn-xs"
					        @click="userEdit(item)">
						<i class="layui-icon">&#xe642;</i>
						编辑</button>
					<button class="layui-btn layui-btn-default layui-btn-xs"
					        @click="resetPassword(item)">
						<i class="layui-icon">&#xe9aa;</i>
						重置密码</button>
					<button class="layui-btn layui-btn-danger layui-btn-xs"  v-on:click="removeMember(item)">
						<i class="layui-icon">&#xe640;</i>
						删除
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div v-if="items.length==0" class="text-center layui-bg-gray no-records">对不起，暂无记录.</div>

	<!-- 分页组件 -->
	<div id="pagination" class="layui-box"></div>

</div>



<script type="text/javascript" src="/js/libs/jquery.min.js">
</script>
<script type="text/javascript" src="/js/libs/layui/layui.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue.js">
</script>
<script type="text/javascript" src="/js/main.js">
</script>
<script type="text/javascript" src="/js/utils.js">
</script>
<script type="text/javascript" src="/js/libs/vue/vue-resource.js">
</script>
<script>
	//全局数据
	var G = {
		page: 0,
		pagesize: 10
	};
	// 初始化 Vue 组件
	var APP = new Vue({
		el: '#app',
		// 数据
		data: {
			items: [
			],
			count:"",
            searchName:""
		},
        created: function () {
            this.queryUserByPage(G.page, G.pagesize);
            this.$nextTick(function () {
                pageRend();
                    });

        },
		// 逻辑处理方法
		methods: {

            queryUserByPage: function ( nowPage,pageSize ) {
                if(nowPage>0){
                    nowPage=nowPage-1;
				}
                //发送 get 请求
                this.$http.get('/medical/user/page', {
                    params: {
                        nowPage: nowPage,
                        pageSize: pageSize
                    }
                }, {emulateJSON: true}).then(function (result) {
                    if (result.data.status == 200) {
                        this.items = result.data.data.datas;
                        this.count = result.data.data.dataTotalCount;
                        G.page=result.data.data.nowPage;
                        G.pagesize=result.data.data.pageSize;
                    } else {
                        messageError(result.data.message);
                    }
                }, function (result) {
                    messageError("请求失败！请重试~");
                });

            },

            delUser: function (IdVal) {
                //发送 get 请求
                this.$http.delete('/medical/user', {params: {uid: IdVal}}, {emulateJSON: true}).then(function (result) {
                    if (result.data.status == 200) {
                        messageOk(result.data.message);
                        reRender();
                    } else {
                        messageError(result.data.message);
                    }
                }, function (result) {
                    messageError("服务器内部出错!");
                });
            },
			//删除一行数据
			removeMember: function (item) {
				var that = this;
				var index = top.layer.confirm('确认要删除吗？', function () {
					top.layer.close(index);
                    that.delUser(item.uid);
                });

			},
            backIndex: function () {
                this.queryLabByPage(G.page, G.pagesize);
            },
			userEdit: function (item) {
				x_open_full('编辑用户','userEdit.html?#'+item.uid);
			},
            resetPassword: function (item) {
                x_open_full('重置用户密码','resetPassword.html?#'+item.uid);
            }

		}
    }); //end Vue


    function pageRend() {

            layui.use(['laypage','form'], function () {
                var laypage = layui.laypage;
                //执行一个laypage实例
                laypage.render({
                    elem: 'pagination', //分页container ID，不用加 # 号
                    limit: G.pagesize, //页面显示记录条数
                    count: APP.$data.count, //数据总数，从服务端得到
                    groups: 5,
                    layout: ['prev', 'page', 'next','limit','count'],
                    prev: '<i class="layui-icon layui-icon-left"></i>',
                    next: '<i class="layui-icon layui-icon-right"></i>',
                    jump: function (obj, first) {
                        //首次不执行
                        if (first) {
                            //do something
                            return;
                        }
                        render(obj.curr, obj.limit);
                    }

                });
            });

    }


    function XuanRan() {
        layui.use(['element'], function () {
            // 重新渲染
            var element = layui.element;
            element.render('x-body','xBody');
            element.render();
            element.init();
        });
    }

    /**
     * 渲染数据列表
     * @param page
     * @param pagesize
     */
    function render(page, pagesize) {
        if (page===0&&pagesize===0){
            this.APP.queryUserByPage(0, 10);
		}else{
            this.APP.queryUserByPage(page, pagesize);
		}
    }
    function reRender() {
            this.APP.queryUserByPage(G.page, G.pagesize);
    }

</script>


</body>
</html>
